*{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: rgb(56, 56, 56);
    color: aliceblue;
}

header{
    margin: ;
}
img{
    width: 40%;
}